header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap:16px
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}

li{
    list-style: none;
}

.one{
    display: flex;
    padding: 60px;
    background-color:#1F2937;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.one div{
    width:400px;
}

.img-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#a4a8b0;
    height: 250px;
}

.website-description h1{
    font-size: 48px;
    color: #F9FAF8;
}

.website-description span{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding:5px 20px;
    display: block;
}

.two .title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}

.items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 150px;
    border: #3882F6 solid;
    border-radius: 10px;
}

.item{
    width: 150px;
    text-align: center;
}

.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px;
    background-color:#E5E7EB;
}

.author{
    align-self: flex-end;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bolder;

}

.quoute{
    font-size: 36px;
    color: #1F2937;
}